<div class="container-fluid">

  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2>
          <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
            <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
            <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
          </a>
          Changer Mot de Passe
        </h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/app']"><i class="icon-home"></i></a></li>
          <li class="breadcrumb-item">Changer Mot de Passe</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="card">
      <div class="header">
        <h2>Changer Votre Mot de Passe</h2>
      </div>
      <div class="body">
        <form [formGroup]="changePassForm" (ngSubmit)="onSubmitChangePass()">
          <div *ngIf="errorMsg" class="alert alert-danger">
            {{errorMsg}}
          </div>
          <div *ngIf="successMsg" class="alert alert-success">
            {{successMsg}}
          </div>
          <div class="form-group">
            <div class="form-line">
              <label for="old">Mot de Passe Courant</label>
              <input  required id="old" type="password" class="form-control" formControlName="old" placeholder="Mot de Passe Courant">
            </div>
          </div>
          <div class="form-group">
            <div class="form-line">
              <label for="nouveau">Nouveau Mot de Passe</label>
              <input type="password" placeholder="Minimum 8 caracteres contentant 1 chiffre " required class="form-control" formControlName="new" id="nouveau">
            </div>
          </div>
          <div class="form-group">
            <div class="form-line">
              <label for="confirm">Confirmer Votre Nouveau Mot de Passe</label>
              <input type="password" placeholder="Confirmer Votre Nouveau Mot de Passe" required class="form-control" formControlName="confirm" id="confirm">
            </div>
          </div>
          <button  [disabled]="!changePassForm.valid || loading" type="submit" class="btn btn-block btn-primary m-t-20">Changer</button>
        </form>
      </div>
    </div>

  </div>
</div>

