<div id="wrapper">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle auth-main">
			<div class="auth-box">
				<div class="top">
					<img src="assets/images/logo-white.svg" alt="Lucid">
				</div>
				<div class="card">
					<div class="header">
						<p class="lead">Récupérer mon mot de passe</p>
					</div>
					<div class="body">
						<div class="alert alert-warning" *ngIf="errorMessage">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true" (click)="closeAlert()">&times;</span>
							</button>
							{{errorMessage}}
						</div>
						<p>
							Veuillez entrer votre adresse E-mail ci-dessous pour recevoir des instructions sur la réinitialisation du mot de passe.</p>
						<form class="form-auth-small" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
							<div class="form-group">
								<input type="email" class="form-control" id="email" placeholder="E-mail" formControlName="mail">
							</div>
							<button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!forgotForm.valid">Récupérer Mot de Passe</button>
							<div class="bottom">
								<span class="helper-text">Vous connaissez votre mot de passe? <a [routerLink]="['/authentication/page-login']">Se Connceter</a></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
